@{
    ViewData["Title"] = "Home Page";
}

<cache vary-by="@Context.Request.Path">
    <app>
        <div class="sk-folding-cube">
            <div class="sk-cube1 sk-cube"></div>
            <div class="sk-cube2 sk-cube"></div>
            <div class="sk-cube4 sk-cube"></div>
            <div class="sk-cube3 sk-cube"></div>
        </div>
    </app>
</cache>

@section scripts {
    <script src="libs/es6-shim.min.js"></script>
    <script src="libs/system-polyfills.js"></script>
    <script src="libs/angular2-polyfills.js"></script>
    <script src="libs/system.js"></script>
    <script src="libs/rx.js"></script>
    <script src="libs/angular2.dev.js"></script>
    <script src="libs/router.dev.js"></script>
    <script src="libs/http.dev.js"></script>
    <script>
            System.config({
                packages: {
                    app: {
                        defaultExtension: 'js'
                    },

                }
            });
    </script>
    <script>

            System.import('app/bootstrap')
                  .then(null, console.error.bind(console));
    </script>
}
