<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Reserve for Carpool</h3>
            </div>
            <div class="panel-body">
                <form class="form-inline">
                    <div class="form-group">
                        <label for="tripTo">From :</label>
                        <input type="text" class="form-control" id="tripTo" placeSearchBox (locationChanged)="startTripChanged($event)">
                    </div>
                    <div class="form-group">
                        <label for="tripTo">To :</label>
                        <input type="text" class="form-control" id="tripTo" placeSearchBox (locationChanged)="toTripChanged($event)">
                    </div>
                    <div class="form-group">
                        <label>Date</label>
                        <div class='input-group date' bootstrap-datepicker>
                            <input type='text' class="form-control" [(ngModel)]="scheduleDate" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-default" (click)="searchDriver()">Search for Driver</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row" [hidden]="topTripDistances.length == 0">
    <div class="google-map-container" id="mapLandMark" googleMap [latitude]="startLat" [longitude]="startLng" [useNative]="false"></div>
</div>

<div class="row" [hidden]="topTripDistances.length == 0">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Search Results
                    <button type="button" class="btn btn-default btn-sm" aria-label="Reserve" (click)="reserveTripSchedule()">
                        Reserve
                    </button>
                </h3>
            </div>
            <div class="panel-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Driver</th>
                            <th>Schedule Date</th>
                            <th>Starting Point</th>
                            <th>End Point</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="#tripDistance of topTripDistances; #td = index">
                            <td>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" [(ngModel)]="tripDistance.isSelected">
                                    </label>
                                </div>
                            </td>
                            <td>
                                <span *ngFor="#user of users; #u = index">
                                    <span [hidden]="user.id != tripDistance.userId">
                                        {{user.userName}}
                                    </span>
                                </span>
                            </td>
                            <td>{{tripDistance.scheduleDate}} - {{tripDistance.scheduleTime}}</td>
                            <td><span *ngIf="tripDistance.landMarks.length > 0">{{tripDistance.landMarks[0].landMarkName}}</span></td>
                            <td><span *ngIf="tripDistance.landMarks.length > 1">{{tripDistance.landMarks[tripDistance.landMarks.length - 1].landMarkName}}</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row" [hidden]="tripSchedulesForDrivers.length == 0">
    <div class="col-md-12">
        <div class="panel panel-primary" *ngFor="#tripSchedule of tripSchedulesForDrivers; #ts = index">
            <div class="panel-heading">
                <h3 class="panel-title">
                    {{tripSchedule.scheduleDate}} - {{tripSchedule.scheduleTime}}
                </h3>
            </div>
            <div class="panel-body">
                <h5>From: {{tripSchedule.landMarks[0].landMarkName}}</h5>
                <h5>To: {{tripSchedule.landMarks[tripSchedule.landMarks.length - 1].landMarkName}}</h5>
                <h5>Passengers: </h5>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Starting Point</th>
                            <th>End Point</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="#reservation of tripSchedule.tripReservations; #td = index">
                            <td style="width: 150px;">
                                <span [hidden]="reservation.status!=0">
                                    <button type="button" class="btn btn-default btn-sm" aria-label="Approve" (click)="approveRequest(reservation.id)">
                                        Approve
                                    </button>
                                    <button type="button" class="btn btn-default btn-sm" aria-label="Reject" (click)="rejectRequest(reservation.id)">
                                        Reject
                                    </button>
                                </span>
                            </td>
                            <td>
                                <span *ngFor="#user of users; #u = index">
                                    <span [hidden]="user.id != reservation.userId">
                                        {{user.userName}}
                                    </span>
                                </span>
                            </td>
                            <td>{{reservation.tripStart}}</td>
                            <td>{{reservation.tripTo}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>